/********** GENERICS ***********/

:root {
    --height: 300px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;

}

.col-1-6 {
    width: calc(100% / 6);
}

.col-4-6 {
    width: calc(100% / 6*4);
}

.col-5-6 {
    width: calc(100% / 6*5);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}


.flex {
    display: flex;
}

.center {
    justify-content: center;
}

.pad {
    padding: 10px;
}


.border {
    border: 1px dashed black;
}


.txt-sx {
    text-align: start;
}

.txt-center {
    text-align: center;
}

.txt-dx {
    text-align: end;
}


/*** BG COLORS ***/

.bg-light {
    background-color: lightblue;
    padding: 10px;
}

.bg-violet {
    background-color: violet;
    height: var(--height);
}

.bg-blue {
    background-color: blue;
    padding: 30px;

}

.bg-pink {
    background-color: pink;
}


/********** UTILITIES ************/

nav {
    background-color: goldenrod;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}